In [15]:
samir = [5000,4500,4000,10000]
tejas = [2500,5000,7000,4500]
akash = [2500,5000,7000,4500,5000,4500,4000,10000]

In [ ]:
samir = [5000,4500,4000,10000]

In [17]:
total_expense = 0
for i in akash:
    
#     print(i)
    #total_expense = total_expense + i
    total_expense += i
print(total_expense)

42500

In [8]:
total_expense = 0
for i in samir:
    
#     print(i)
    #total_expense = total_expense + i
    total_expense += i
print(total_expense)

23500

In [10]:
total_expense = 0
for i in tejas:
    
#     print(i)
    #total_expense = total_expense + i
    total_expense += i
print(total_expense)

19000

In [ ]:
Functions(definition)
functions(execution)
functions(calling)

In [23]:
def expense(name):
    'This functions returns total expense done by employee till date'
    total_expense = 0
    for i in name:
        total_expense += i
    print(total_expense)

In [ ]:
def salary_total(name):
    'This functions returns total expense done by employee till date'
    total_expense = 0
    for i in name:
        total_expense += i
    print(total_expense)

In [21]:
expense(samir)

23500

In [14]:
expense(tejas)

19000

In [16]:
expense(akash)

42500

In [29]:
def add(a,b,c,d):
    return a,b,c,d

In [30]:
add('sam', 'abc', 'jjk', 'xyz')

('sam', 'abc', 'jjk', 'xyz')

In [31]:
def add(*a):
    return a

In [34]:
add('sam', 'abc')

('sam', 'abc')

In [ ]:
def add(*args,**kwargs) (*arguments, **keywordarguments)

In [40]:
l = []
l

[]

In [43]:
l.append(13333)
l

[12, 14, 13333]

In [46]:
l = []
def appendd(*a):
    
    for i in a:
        l.append(i)
    return l

In [47]:
appendd(1,2,3,4)

[1, 2, 3, 4]

In [49]:
appendd(4,8,91,7,89)

[1, 2, 3, 4, 5, 7, 8, 9, 4, 8, 91, 7, 89]

In [1]:
def test(a,b,c,d,*e):
    return a,b,c,d,e

In [3]:
test(1,2,3,4,5,3,4,4,4,4)

(1, 2, 3, 4, (5, 3, 4, 4, 4, 4))

In [8]:
def test1(*a,b,c,d,e):
    return a,b,c,d,e

In [15]:
test1(1,2,b = 1,c = 2,d = 3,e = 4)

((1, 2), 1, 2, 3, 4)

Types of functions:
1. Function with no parameter
2. Functions with parameter
3. Functions with default parameter
4. Functions with return parameter

In [20]:
def test():
    print("This is func with no parameter")

In [21]:
test()

In [27]:
def test1(a,b):
    print("Value of a is : ", a)
    print("Value of b is : ", b)
test1(1233,"samir")

TypeError: test1() missing 2 required positional arguments: 'a' and 'b'

Value of a is :  1233
Value of b is :  samir

In [25]:
def test2(a = 10, b ="python"):
    print("Value of a is : ", a)
    print("Value of b is : ", b)
test2()

Value of a is :  10
Value of b is :  python

In [28]:
def test1(a,b=15):
    print("Value of a is : ", a)
    print("Value of b is : ", b)
test1(1233)

Value of a is :  1233
Value of b is :  15

In [29]:
def test2(a = 10, b ="python"):
    print("Value of a is : ", a)
    print("Value of b is : ", b)
test2(123, 'data science')

Value of a is :  123
Value of b is :  data science

In [6]:
def add(a,b):
    c = a+b
    return c
add(5,8)

13

In [7]:
def test(**info):
    return info

In [8]:
test(name = "samir", skills = ['python', 'html'])

{'name': 'samir', 'skills': ['python', 'html']}

In [9]:
test(1,2,3,6,4)

TypeError: test() takes 0 positional arguments but 5 were given

In [10]:
def test1(*a,**info):
    return a,info

In [13]:
test1(1,2, a = "kldkhg")

((1, 2), {'a': 'kldkhg'})

In [27]:
def test(*a):
    b = 5
    l = []
    for i in a:
        if type(i) == int:
            final = b+i
            l.append(final)
        elif type(i) == float:
            print(i)
        else:
            if i.isupper() == True:
                print(i)
            
            
    print("final list is : ", l)

In [28]:
test(5,9,'dsggfgs',4.5,4,'SGKJKGSG',7)

4.5
SGKJKGSG
final list is :  [10, 14, 9, 12]

In [30]:
a = 10  #global variable
def add(s):
    print(s)
add(a)

10

In [35]:
print(a+4)

14

In [33]:
def add():
    ab = 454545 #local variable/will only in your function or while calling this functions
    print(ab)
add()

454545

In [34]:
print(ab)

NameError: name 'ab' is not defined

In [40]:
def odd_even(n):
    if n%2 == 0:
        print("This is an even number")
    else: 
        print("This is an odd number")
    
odd_even(n = int(input("input a number : ")))

input a number : 7584
This is an even number

In [3]:

def fact_num(n):
   
    fact = 1

    for i in range(1,n+1):
        fact = fact*i
    print(fact)

In [4]:
a = int(input("Enter a number for factorial : "))
fact_num(a)

Enter a number for factorial : 12
479001600

In [5]:
#functions to check prime numbers

In [50]:
number = int(input("Enter a number to check for prime : "))
def prime_number(n):
    
    for i in range(2,n):
        x = 0
        if n%i == 0:
            x = 0
            break
        else:
            x = 1
    return x
    
final = prime_number(number)
if final == 1:
    print("this is a prime number")
else:
    print("Not a prime number")

Enter a number to check for prime : 13
this is a prime number

In [ ]:
x = 0
n = 13
for i in range(2,n):
    
    if n%i == 0:
        x = 0
        break
        
    else:
        x=1
        
if x == 1:
    print("this is a prime number")
else:
    print("Not a prime number")

In [51]:
# lambda function

In [54]:
x = lambda a,b: a**2

In [56]:
x(4,2)

16

In [57]:
# list comprehension

In [63]:
t = (1,2,3,4,5,6,7,8)
l = []

In [66]:

for i in t:
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [65]:
[i**2 for i in t]

[1, 4, 9, 16, 25, 36, 49, 64]

In [67]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [68]:
x = lambda *a : [i**2 for i in t]

In [69]:
x(1, 2, 3, 4, 5, 6, 7, 8)

[1, 4, 9, 16, 25, 36, 49, 64]

In [1]:
d = {"key" : "value", 'name': "samir", "age": 25, "skills": ['python', 'c', 'data science']}
count = 0

In [3]:
d.keys()

dict_keys(['key', 'name', 'age', 'skills'])

In [4]:
d.values()

dict_values(['value', 'samir', 25, ['python', 'c', 'data science']])

In [ ]:
str_values = []
rem_values =