In [4]:
list1 = ['assa',20,'asfd','sa',50,60,70,80]
list1[5]

60

In [5]:
for list_samples in list1:
    print(list_samples)

assa
20
asfd
sa
50
60
70
80

In [ ]:
for items in collection:
    print(items)

In [22]:
for i in l:
    print(i)
    if i == 50:
        break

10
20
30
40
50

In [24]:
for i in l:
    print(i)
    if i == 50:
        break
else:
    print("this will only execute once for loop is completed")

10
20
30
40
50

In [27]:
s = 'python'
for i in s:
    print(i)

p
y
t
h
o
n

In [28]:
d = {"key":"value", "name": 'abc', "contact": 134656}

In [38]:
d['contact']

134656

In [40]:
for i in d:
    print(i, " = ",d[i])

key  =  value
name  =  abc
contact  =  134656

In [ ]:
range functions (start : end: step)

In [42]:
range(1,11)

range(1, 11)

In [45]:
for i in range(11,25):
    print(i, end = " ")

11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [47]:
for i in range(15):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [49]:
for i in range(1,25,3):
    print(i, end = " ")

1 4 7 10 13 16 19 22

In [63]:
l = [10,20,30,40,50,60,70,10,20,30,40,50,60,70]

In [ ]:
for i in l:
    print(i)

In [64]:
len(l)

14

In [60]:
l[1]

20

In [65]:
for i in range(14):
    print(i, ":",l[i])

0 : 10
1 : 20
2 : 30
3 : 40
4 : 50
5 : 60
6 : 70
7 : 10
8 : 20
9 : 30
10 : 40
11 : 50
12 : 60
13 : 70

In [51]:
for i in l:
    print(i)

10
20
30
40
50
60
70
80

In [69]:
s = "learning data science"
for i in s:
    print( i)

l
e
a
r
n
i
n
g

d
a
t
a

s
c
i
e
n
c
e

In [76]:
s = int(input("Enter a number for multiplications : "))
for i in range(1,11):
    print(s,"x",i, "=", i*s)

Enter a number for multiplications : 45848
45848 x 1 = 45848
45848 x 2 = 91696
45848 x 3 = 137544
45848 x 4 = 183392
45848 x 5 = 229240
45848 x 6 = 275088
45848 x 7 = 320936
45848 x 8 = 366784
45848 x 9 = 412632
45848 x 10 = 458480

In [79]:
s = "aaaabbbbcccccdddddd"
set(s)

{'a', 'b', 'c', 'd'}

In [80]:
for i in set(s):
    print(i, ":", s.count(i))

c : 5
d : 6
b : 4
a : 4

In [82]:
s = {1,2,3,45,6,9,7,1,2,3,45,6,9,7,1,2,3,45,6,9,7,1,2,3,45,6,9,7,1,2,3,45,6,9,7}
s

{1, 2, 3, 6, 7, 9, 45}

In [9]:
s = "SamPythonData"
for i in s: 
    if i.islower() == True:
        print(i)

a
m
y
t
h
o
n
a
t
a

In [ ]:
Factorial
4

In [9]:
n = int(input("Enter a number for factorial : "))
fact = 1

for i in range(1,n+1):
    fact = fact*i
print(fact)

Enter a number for factorial : 8
40320

In [ ]:
initialization
while (condition):
    execution
    increment/decrement

In [16]:
i = 1
while i <=10:
    print(i, end = " ")
    i+=1
    if i == 5:
        break
else:
    print("this is the final statement")

1 2 3 4

In [11]:
i = 1
while i <=10:
    print(i, end = " ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [12]:
i = 1
while i <=10:
    i+=1
    print(i, end = " ")

2 3 4 5 6 7 8 9 10 11

In [10]:
i = 1
while i <=10:
    
    print(i, end = " ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [19]:
l = [10,20,30,40,50,30,60,70]
for i in l:
    print(i, end = " ")

10 20 30 40 50 30 60 70

In [30]:
l = [10,20,30,40,50,30,60,70,20,30,40,50,30,60,70,20,30,40,50,30,60,70]
i = -1
while i >=-len(l):
    print(l[i], end = " ")
    i-=1

70 60 30 50 40 30 20 70 60 30 50 40 30 20 70 60 30 50 40 30 20 10

In [35]:
l = [10,'20',30,'40',50,30,'60',[70,20,30],'40',50,'30',60,'70',20,30,40,'50',30,60,70]
i = 0
final_list = []
wrong_data = []
while i <len(l):
    if type(l[i]) == int:
        final_list.append(l[i])
    else:
        wrong_data.append(l[i])
        
        
    i+=1
print(final_list)
print("wrong data :", wrong_data)

[10, 30, 50, 30, 70, 20, 30, 50, 60, 20, 30, 40, 30, 60, 70]
wrong data : ['20', '40', '60', '40', '30', '70', '50']

In [36]:
n = int(input("Enter a number for factorial : "))
fact = 1

for i in range(1,n+1):
    fact = fact*i
#     print(i)
print(fact)

Enter a number for factorial : 5
120

In [37]:
n = int(input("Enter a number for factorial : "))
fact = 1

while n>0:
    fact = fact*n
    n-=1
print(fact)

Enter a number for factorial : 5
120

In [38]:
n = int(input("Enter a number for factorial : "))
fact = 1
i = 1  
while i <= n:
    fact = fact*i
    i+=1
print(fact)

Enter a number for factorial : 5
120

In [43]:
s = "learnin python is easy"
l = s.split(" ")
final = l[-2]
print(len(final))

4

In [50]:
a = 121
s = str(a)
s

'121'

In [48]:
s1 = s[::-1]
s1

'121'

In [53]:
a1= int(s1)

In [49]:
s is s1

False

In [54]:
if a == a1:
    print("True")

True

In [ ]:
palindrome

madam
wow
viviv